html {
    /* overflow: auto;  */
    /* background-size: contain; */
    max-width: 100%;
}

body {
    background: #f5f5f8;
    max-width: 100%;
}

/* .header {
    position: fixed;
    top: 0;
    z-index: 100;
    justify-content: center;
    background: white;
    width: 100%;
} */

.all-header {
    width: 100%;
    /* display: flex; */
    /* justify-content: center; */
    background: white;
    position: fixed;
    top: 0;
    left: 0;
    height: 64px;
    z-index: 100000;
    box-shadow: 3px 3px 3px rgb(204 204 204);
}

.site-header {
    /* position: fixed; */
    /* top: 0; */
    height: 100%;
    display: flex;
    align-items: center;
    width: 100%;
    /* background: white; */
    /* padding: 0 20px; */
    
}

.site-header img {
    height: 60px;
    margin-left: 40px;
    background-size: cover;
    object-fit: contain;
}

.site-header h1 {
    color: #97b9d1;
    margin-left: 10px;
    font-size: 20px;
}

.button {
    background: linear-gradient(to right,#0f71bc,#3ccfff);
    color: white;
    border-radius: 20px;
    /* border: #1E90FF; */
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.45);
    cursor: pointer;
    margin-left: auto;
    margin-right: 40px;
    padding: 10px 30px;
}

.transition {
    transition: 10s;
}

/* body */
main {
    margin-top: 64px;
}

.all-container {
    width: 100%;
    display: flex;
    justify-content: center;
    z-index: 1;
    /* margin: 20px 60px; */
    padding-top: 20px;
    gap: 20px;
}

.leftside {
    width: 50%;
    margin-left: 50px;
}

.studies {
    display: flex;
    justify-content: center;
    margin-top: 20px;
    /* margin-left: 20px; */
    gap: 20px;
}

.studytime {
    width: 100%;
    background: white;
    line-height: 2;
    padding: 1em;
    border: 1px solid #a9a9a9;
    box-shadow: 1.5px 1.5px 2px #696969;
    border-radius: 10px;
}


.date {
    color: darkblue;
    text-align: center;
    
}

.number {
    color: black;
    font-weight: bold;
    font-size: 20px;
    white-space: nowrap;
    text-align: center;
}

.hour {
    color: #87CEFA;
    text-align: center;
}

.graph {
    margin-top: 20px;
    width: 40vw;
    /* height: 200px; */
    padding: 1em 20px;
    border: 1px solid #a9a9a9;
    box-shadow: 1.5px 1.5px 2px #696969;
    border-radius: 10px;
    background: white;
    /* width: 100%;  */
    height: 200px
}

.rightside {
    width: 50%;
    margin-right: 50px;
    display: flex;
    gap: 20px;
    
}

.language {
    /* margin: 0 20px; */
    width: 100%;
    padding: 1em 20px;
    border: 1px solid #a9a9a9;
    box-shadow: 1.5px 1.5px 2px #696969;
    border-radius: 10px;
    background: white;
}

.contents {
    /* margin: 0 20px; */
    width: 100%;
    /* height: 300px; */
    padding: 1em 20px;
    border: 1px solid #a9a9a9;
    box-shadow: 1.5px 1.5px 2px #696969;
    border-radius: 10px;
    background: white;
}

.blank {
    margin-bottom: 30px;
}

.legend {
    display: flex;
    flex-wrap: wrap;
    padding-top: 30px;
}


.item1 {
    color: #0A45EC
}
.item2 {
    color: #0F71BD
}
.item3 {
    color: #20BDDE
}
.item4 {
    color: rgb(16, 150, 24)
}
.item5 {
    color: rgb(153, 0, 153)
}
.item6 {
    color: rgb(0, 153, 198)
}
.item7 {
    color: rgb(221, 68, 119)
}
.item8 {
    color: rgb(102, 170, 0)
}

legend {
    padding-right: 6px;
}

.underside {
    margin-top: 50px;
    /* padding-bottom: 20px ; */
    display: flex;
    justify-content: center;
}

.next {
    color: #0f71bc;
    /* color: #97b9d1; */
    border: none;
    background: none;
}

#responsivePost {
    display: none;
}

.responsiveButton {
   
}

/* モーダル */
.modal {
    position: absolute;
    top: 84px;
    left: 0;
    right: 0;
    max-width: 900px;
    background: white;
    border-radius: 10px;
    margin: auto;
    z-index: 100;
    display: none;
}

.close-btn {
    display: block;
    position: relative;
    width: 30px;
    height: 30px;
    border: 2px solid #a9a9a9; /* 枠の調整 */
    border-radius: 50%;  /* 丸みの度合い */
    background: #fff; /* ボタンの背景色 */
    /* margin-left: 850px ; */
}

.close-btn::before, .close-btn::after {
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    width: 3px; /* 棒の幅（太さ） */
    height: 22px; /* 棒の高さ */
    background: #a9a9a9; /* バツ印の色 */
}

.close-btn::before {
    transform: translate(-50%,-50%) rotate(45deg);
}

.close-btn::after {
    transform: translate(-50%,-50%) rotate(-45deg);
}

.modal-contents {
    display: flex;
    gap: 40px;
}

.modal-left {
    padding: 20px 0;
    margin-left: 56px;
    width: 50%;
}

.modal-left p {
    padding-top: 15px;
    font-weight: bold;
}

.datepicker {
    width: 100%;
    background: rgba(0, 0, 0, 0.08);
    border: 1px;
    border-radius: 10px;
}

.calendar__modal {
    width: 100%;
    /* background: rgba(0, 0, 0, 0.08); */
    border: none;
    border-radius: 10px;
}

#date {
    width: 100%;
    background: rgba(0, 0, 0, 0.08);
    border: none;
    border-radius: 10px;
}

.modal-right {
    /* margin-left: 40px; */
    padding: 20px 0;
    margin-right: 56px;
    width: 50%;
}

.modal-right p {
    padding-top: 15px;
    font-weight: bold;
}

.study-time {
    width: 100%;
    background: rgba(0, 0, 0, 0.08);
    border-radius: 10px;
    border: rgba(0, 0, 0, 0.08);;
}

.twitter-comment {
    width:100%;
    /* height: 100px; */
    background: rgba(0, 0, 0, 0.08);
    border: 1px;
    font-size: 15px;
    border-radius: 10px;
}

.sharebutton {
    display: flex;
}

.sharebutton input {
    margin-top: 15px;
    width: 20px;
    height: 20px;
    border-radius: 50%;
}

.sharebutton p {
    padding-left: 10px;
}


.contact__form__item label {
    padding: 10px;
}

.postbutton {
    padding: 10px 0 20px 0;
    text-align: center;
}

.loading {
    position: absolute;
    z-index: 1000; 
    width: 100%;
    height: 100%;
    top: 64px;
    margin: 0;
    padding: 0;
    background: #fff;
    display: none;
}

.loading p {
    margin-top: 10px;
    color: #bde360;
    text-align: center;
}

.a {
    padding-top: 100px;
}

.check-text {
    width: 50px;
    height: 50px;
    border-radius: 100%;
    padding: 20px;
    background: #bde360;
    color: #fff;
    font-size: 50px;
    font-weight: bold;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}

/* .loading.hide {
    opacity: 0;
    pointer-events: none;
    transition: opacity 500ms;
} */


@media screen and (max-width: 960px) {
    .all-container {
        /* max-width: 960px; */
    }

    .graph {
        width: 36vw;
    }

    .rightside {
        /* margin-left: 5vw; */
    }

    .modal {
        width: 90%;
    }


}
@media screen and (max-width: 768px) {
}
@media screen and (max-width: 768px) {

    .site-header img {
        width: 100px;
    }

    .button {
        margin-right: 10vw;
    }
    
    .all-container {
        flex-direction: column;
        width: 100%;
        /* margin: auto; */
    }

    .leftside {
        width: 100%;
        padding-left: 20px;
        padding-right: 20px;
        margin: 0;
    }

    .studies {
        gap: 16px;
    }

    .graph {
        margin-left: auto;
        margin-right: auto;
        width: 70%;
    }

    #chart_div {
        object-fit: contain;
        background-size: cover;
    }

    .rightside {
        width: 100%;
        height: 400px;
        padding-left: 20px;
        padding-right: 20px;
        margin: 0;
    }

    .language {
        height: 405px;
    }

    .contents {
        height: 405px;
    }

    .button {
        display: none;
    }

    .underside {
        width: 100%;
        margin-top: 50px;
    }

    #responsivePost {
        display: block;
    }

    .responsiveButton {
        background: linear-gradient(to right,#0f71bc,#3ccfff);
        color: white;
        border-radius: 20px;
        /* border: #1E90FF; */
        box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.45);
        cursor: pointer;
        margin: 20px auto;
        padding: 10px 50px;
    }

    .modal {
        /* width: 100%; */
    }

    .modal-left {
        margin-left: auto;
        margin-right: auto;
        width: 70%;
    }

    .modal-contents {
        flex-direction: column;
        justify-content: center;
        gap: 0;
    }

    .modal-right {
        margin-left: auto;
        margin-right: auto;
        width: 70%;
    }

}
@media screen and (max-width: 480px) {
    .button {
        margin-right: 0;
    }
}